nav{

    background-color: #404040;
    overflow: hidden;
    box-shadow: 5px 5px 25px #666666;
}

.navlink{

    float: left;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lato', sans-serif;

}

a > i{
  padding-right: 5px;
}

.navlink:hover{
    background-color: lightslategrey;

}

body {
    background-color: green;
}

.subheading{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
}

.heading{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 65px;
}


.heart {
    color: #e25555;
}

.credit{

    color: turquoise;

}

footer{
    position: absolute;
    bottom: 3%;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.button-container{
    text-align: center;

}

.stats-button{
  color: deepskyblue;
  margin-top: 3%;
  padding: 0 3%;
  word-wrap: normal;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

#stats-container{
    margin-top: 3%;
    text-align: center;

}

.stat{
    color: white;
    font-family: 'Lato', sans-serif;
}