<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokerStats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">




</head>
<body>
{% include 'navbar.html' %}
<p class="heading">PokerStats</p>
<div class="info">

<p class="subheading">The (hopefully soon to be?) official website of the Stevens Poker Club</p>
{% include 'footer.html' %}
</div>
</body>
</html>