<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokerStats</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<h1 class="heading">Profile Search</h1>
<div id="search-container">
<input id="searchbox" type="search" width="100" placeholder="Enter your name (Ex: Zachary or Zachary Zwerling)">
<button type="submit" id="submitbutton" value="Submit">Submit</button>
    </div>
{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>