<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokerStats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
{% include 'navbar.html' %}

{% if name %}
    <h1 class="subheading">{{name}}'s profile</h1>
    <div class="profile-container">
    <h2>Season: {{season}}</h2>
    <p>Tournaments: {{tournaments}}</p>
    <p>Best Finish: {{tourn_finish}}: Place: {{best_finish}} </p>
    <p># of final tables: {{no_finaltables}} </p>
    <h3>Results:</h3>
   {% for tourn, place in results %}
      <p>{{ tourn }}: Place: {{ place }}</p>
  {% endfor %}
    </div>
{% else %}
    <p>Profile not found.</p>
{% endif %}
{% include 'footer.html' %}

</body>
</html>